{{define "footer"}}
<footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <span class="navbar-text">
            Copyright 2020 lenslocked.sbanka.io
        </span>
    </nav>
</footer>
{{end}}